:root {
  --ifm-color-primary: #660874;
  --ifm-color-primary-dark: #5c0768;
  --ifm-color-primary-darker: #52075d;
  --ifm-color-primary-darkest: #470651;
  --ifm-color-primary-light: #700980;
  --ifm-color-primary-lighter: #7a0a8c;
  --ifm-color-primary-lightest: #840b98;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(102, 8, 116, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #9b3cad;
  --ifm-color-primary-dark: #8b359b;
  --ifm-color-primary-darker: #7b2f8a;
  --ifm-color-primary-darkest: #6b2878;
  --ifm-color-primary-light: #ab43bf;
  --ifm-color-primary-lighter: #b44bc8;
  --ifm-color-primary-lightest: #bd5ad0;
  --docusaurus-highlighted-code-line-bg: rgba(102, 8, 116, 0.3);
}
